<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/proyectos.css" />
    <title>Listado de Proyectos</title>
  </head>

  <body>
    <header>
      <a href="/index.html">Home</a>
      <button type="button">Listar proyectos</button>
      <button type="button">Filtrar Por Empresa</button>
      <button type="button">Filtrar por Proyecto</button>
    </header>
    <main></main>

    <script type="module" src="../../js/validator.js"></script>
  </body>
</html>
