<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/tiempos.css" />
    <title>Tareas</title>
  </head>

  <body>
    <form class="clase" action="">
      <input id="fecha" type="datetime-local" />
      <input placeholder="Tiempo Invertido" class="clase" id="tiempo" type="text" />
      <input placeholder="Nombre proyecto" id="proyecto" class="clase" type="text" />
      <button id="btnRegistrar" type="button">Registrar Tiempo</button>
      <a href="/index.html">Cancelar</a>
    </form>
    <table>
      <thead>
        <tr>
          <td>Fecha</td>
          <td>Tiempo</td>
          <td>Proyecto</td>
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody id="registros">

      </tbody>
    </table>
    <script type="module" src="../../js/validator.js"></script>
  </body>
</html>
